* {
    margin: 0;
    padding: 0;
    font-family: monospace;

}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 60px;
    flex-wrap: wrap;
}

.cabecalho i {
    font-size: 100px;
    color: snow;

}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #141325;

}

.menu {
    display: flex;
}


.menu li {
    margin-left: 13px;


}

h1 {
    text-align: center;
    /*Aqui usamos para alinhar o texto ao centro*/
    margin-top: 100px;
    /*Aqui colocamos */
}

.flex {
    display: flex;
    /*Aqui atribuímos */
    flex-wrap: wrap;
    /**/
    max-width: 800px;
    /*Adaptação máxima Dos Conteúdos que estão dentro da section (div)*/
    margin: 0 auto;
    /*Centralizar As Divs*/
}

.flex img {
    display: block;
    /*Adaptação máxima da div*/
    max-width: 100%;
    /*Reforçando que minhas imagens estejam em formatos de blocos*/
    margin: 0 auto;
    margin-bottom: 80px;
    text-align: center;
}

.flex img {
    width: 200px;
    height: 200px;
}
.flex div {
    margin: 10px;
    /*alterar o espaçamento das margens laterais*/
    flex: 1 1 200px;
    /**/
}

.secao{
    padding: 100px;
    background-color: #fe1cac;
    color: #faeddf;
}

.rodape {
    padding: 50px;
    background-color: #000000;
    color: aliceblue;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
}

.menu2 {
    display: flex;
    
}
.menu2 li{
list-style: none;
margin-right: 20px;

}
.menu2 li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.menu2 li a :hover {
color: #0a1547;
transition: 0,8;
}

.rodape i{
    color: #daefdf;
    font-size: 25px;
    background-color: black;
    padding: 10px;
    margin-left: 10px;
}