*{
    margin: 0;
    padding: 0;
    font-family: monospace;

}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 60px;
}
.cabecalho i{
    font-size: 100px;
    color: snow;
}